/*todas las etiquetas section*/
section{
    background-color: gold;
}
/* id del elemento*/
#section-1{
    background-color: blueviolet;
}
/* clases*/
.secciones{
    background-color: brown;
}